<form method="post" action="{{ path('app_curso_delete', {'id': curso.id}) }}"
      data-confirmation="¿Estás seguro de que deseas eliminar este curso? Esta acción también eliminará todas las asignaturas asociadas.">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ curso.id) }}">
    <button class="btn btn-custom btn-custom-danger w-100">
        <i class="fas fa-trash me-2"></i>Eliminar Curso
    </button>
</form>
